form {
  margin: 10px;
  padding: 10px;
}
ul {
  list-style: none;
}
.high-priority {
  display: inline-block;
  width: 200px;
  border: 2px solid red;
  margin: 10px;
  padding: 10px;
}

.low-priority {
  display: inline-block;
  width: 200px;
  border: 2px solid green;
  margin: 10px;
  padding: 10px;
}